################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealEstateProfessional/v16
/.vs/RealEstateProfessional/config
/SouthRealEstate/bin/Debug/netcoreapp2.1
/SouthRealEstate/.sass-cache/c271f55aaaf7c7f11c38a51797984cacc713c712
/SouthRealEstate/SouthRealEstate.csproj.user
/SouthRealEstate/obj
/SouthRealEstateEnglishFresh/bin/Debug/netcoreapp2.1
/SouthRealEstateEnglishFresh/.sass-cache/c271f55aaaf7c7f11c38a51797984cacc713c712
/SouthRealEstateEnglishFresh/obj
/SouthRealEstateEnglishFresh/SouthRealEstate.csproj.user
/.vs/RealEstateProfessional/DesignTimeBuild
/SouthRealEstate.Console/obj
/SouthRealEstate.Console/bin/Debug/netcoreapp2.1
/SouthRealEstate.DAL/bin/Debug/netstandard2.0
/SouthRealEstate.DAL/obj
/SouthRealEstate.DAL/SouthRealEstate.DAL.csproj.user
/SouthRealEstate.DAL.Console/obj
/SouthRealEstate.DAL.Console/bin/Debug/netcoreapp2.1
/SouthRealEstate.Helpers/obj
/SouthRealEstate.Helpers/bin/Debug/netstandard2.0
/SouthRealEstate/Logs/log_20190718_07T35T37.log
/SouthRealEstate/Properties/PublishProfiles
/SouthRealEstate.DAL/bin/Release/netstandard2.0
/SouthRealEstate.Helpers/bin/Release/netstandard2.0
/SouthRealEstate/bin/Release/netcoreapp2.1
/SouthRealEstate/Logs/log_20190718_08T13T10.log
