################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RealEstateProfessional/v16
/.vs/RealEstateProfessional/config
/SouthRealEstate/bin/Debug/netcoreapp2.1
/SouthRealEstate/.sass-cache/c271f55aaaf7c7f11c38a51797984cacc713c712
/SouthRealEstate/SouthRealEstate.csproj.user
/SouthRealEstate/obj
