<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image: url(/img/bg-img/hero1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Listings</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Advance Search Area Start ##### -->
<div class="south-search-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="advanced-search-form">
                    <!-- Search Title -->
                    <div class="search-title">
                        <p>Search for your home</p>
                    </div>
                    <!-- Search Form -->
                    <div id="properties_search_wrapper">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <input id="search_general" type="input" class="form-control" name="search_general" placeholder="Keyword">
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-control" id="search_cities">
                                        <option value="0">All Cities</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <select class="form-control" id="search_property_type">
                                        <option value="0">Property Type</option>
                                        <option value="1">House</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="search_bedrooms_from">
                                        <option value="0">Bedrooms From</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5+</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <select class="form-control" id="search_bedrooms_to">
                                        <option value="0">Bedrooms To</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5+</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-6 d-flex">
                                <!-- Space Range -->
                                <div class="slider-range">
                                    <div id="search_size" data-min="0" data-max="500" data-unit="m" class="slider-range-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="500">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range">0m - 500m </div>
                                </div>

                                <div class="slider-range">
                                    <div id="search_price" data-min="0" data-max="5000000" data-unit="" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="0" data-value-max="5000000">
                                        <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                        <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                                    </div>
                                    <div class="range">0 - 5000000</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 d-flex justify-content-between align-items-end">
                                <!-- More Filter -->
                                <div class="more-filter">
                                    @*<a href="#" id="moreFilter">+ More filters</a>*@
                                </div>
                                <!-- Submit -->
                                <div class="form-group mb-0">
                                    <button id="btn_search_property" type="submit" class="btn south-btn">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Advance Search Area End ##### -->
<!-- ##### Listing Content Wrapper Area Start ##### -->
<section class="listings-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="listings-top-meta d-flex justify-content-between mb-100">
                    <div class="view-area d-flex align-items-center">
                        <span>View as:</span>
                        <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                        <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="order-by-area d-flex align-items-center">
                        <span class="mr-15">Order by:</span>
                        <select>
                            <option selected>Default</option>
                            <option value="1">Newest</option>
                            <option value="2">Sales</option>
                            <option value="3">Ratings</option>
                            <option value="3">Popularity</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="properties_content">

        </div>

        <div class="row">
            <div class="col-12">
                <div class="south-pagination d-flex justify-content-end">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link active" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Listing Content Wrapper Area End ##### -->


@section Scripts
{
    <script src="@Url.Content("~/js/pages/properties.js")"></script>
    <script src="@Url.Content("~/js/pages/propertiesPage.js")"></script>
}