<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <!--Application Log Appender-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" type="log4net.Util.PatternString" value="Logs\log_%date{yyyyMMdd}_%date{HHTmmTss}.log" />
      <param name="AppendToFile" value="false" />
      <param name="MaxSizeRollBackups" value="2" />
      <param name="maximumFileSize" value="50MB" />
      <param name="RollingStyle" value="Size" />
      <param name="staticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header type="log4net.Util.PatternString" value="====[-- Logging Start --]==== %newline " />
        <footer type="log4net.Util.PatternString" value="====[-- Logging Terminate --]==== %newline " />
        <param name="ConversionPattern" value="%date{MM/dd/yyyy HH:mm:ss} [%level] %C{2}.%M(line:%line, Thread:%thread, Context:%property{context}) %message %exception %newline" />
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="Debug" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
</configuration>