@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
    ViewBag.Title = "Administrator";
}

<link rel="stylesheet" href="~/css/pages/administrator.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Administration</span>
            </div>
        </header>

        <main class="mdl-layout__content">
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#tab-panel1" id="tab__properties" class="mdl-tabs__tab is-active">Properties</a>
                    <a href="#tab-panel2" class="mdl-tabs__tab">Agents</a>
                    <a href="#tab-panel3" class="mdl-tabs__tab">Cities</a>
                </div>

                <div class="mdl-tabs__panel is-active" id="tab-panel1">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="mdl-card mdl-shadow--2dp properties-tbl-wrapper">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Properties</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <table id="tbl__residental_properties" class="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>City</th>
                                                <th>Address</th>
                                                <th>Size Meters</th>
                                                <th>Bad Rooms Count</th>
                                                <th>Bath Rooms Count</th>
                                                <th>Price</th>
                                                <th>Is Featured?</th>
                                                <th>Agent</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Add Property</h2>
                                </div>

                                <div class="mdl-card__supporting-text">
                                    <form action="#">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="property_title">
                                            <label class="mdl-textfield__label">Title</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="property_desc">
                                            <label class="mdl-textfield__label">Description</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <select class="mdl-textfield__input" id="property_city_sb" name="City">
                                                <option></option>
                                            </select>
                                            <label class="mdl-textfield__label" for="City">City</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="property_add">
                                            <label class="mdl-textfield__label">Address</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="property_size">
                                            <label class="mdl-textfield__label">Size(m)</label>
                                            <span class="mdl-textfield__error">Must be a number!</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="property_badrooms">
                                            <label class="mdl-textfield__label">Number of Bad Rooms</label>
                                            <span class="mdl-textfield__error">Must be a number!</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="property_bathrooms">
                                            <label class="mdl-textfield__label">Number of Bath Rooms</label>
                                            <span class="mdl-textfield__error">Must be a number!</span>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="property_price">
                                            <label class="mdl-textfield__label">Price</label>
                                            <span class="mdl-textfield__error">Must be a number!</span>
                                        </div>
                                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="property_is_featured">
                                            <input type="checkbox" class="mdl-checkbox__input" id="property_is_featured">
                                            <span class="mdl-checkbox__label">Is Featured?</span>
                                        </label>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" id="property_images_wrapper">
                                            <div id="property_images_container">
                                            </div>
                                            <div id="btn__more_images">
                                                <i class="material-icons">add</i>
                                            </div>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <select class="mdl-textfield__input" id="property_agent_sb" name="RelatedAgent">
                                                <option></option>
                                            </select>
                                            <label class="mdl-textfield__label" for="RelatedAgent">Agent</label>
                                        </div>
                                        @*<div class="mdl-textfield mdl-js-textfield mdl-textfield--file" id="extra_property_feature_wrapper">
                                    <div id="extra_property_features_container">
                                    </div>
                                    <div id="btn__more_property_feature">
                                        <i class="material-icons">add</i>
                                    </div>
                                </div>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" id="property_">
                                    <label class="mdl-textfield__label">Address</label>
                                </div>*@
                                    </form>
                                </div>

                                <button id="btn__add_property" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="mdl-tabs__panel" id="tab-panel2">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="mdl-card mdl-shadow--2dp properties-tbl-wrapper">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Agents</h2>
                                </div>
                                <div class="mdl-card__supporting-text">
                                    <table id="tbl__agents" class="dataTable">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Phone</th>
                                                <th>Email</th>
                                                <th>Details</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Add Agent</h2>
                                </div>

                                <div class="mdl-card__supporting-text">
                                    <form action="#">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="agent_name">
                                            <label class="mdl-textfield__label">Name</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="agent_phone">
                                            <label class="mdl-textfield__label">Phone</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="agent_email">
                                            <label class="mdl-textfield__label">Email</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="agent_Details">
                                            <label class="mdl-textfield__label">Details</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file" id="property_images_wrapper">
                                            <div id="property_images_container">
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                                                    <input class="mdl-textfield__input" placeholder="Image" type="text" id="uploadAgentImage" readonly />
                                                    <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                                        <i class="material-icons">attach_file</i><input type="file" id="uploadAgentImageBtn">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <button id="btn__add_agent" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mdl-tabs__panel" id="tab-panel3">
                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--4-col">
                            <div class="mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__title">
                                    <h2 class="mdl-card__title-text">Add City</h2>
                                </div>

                                <div class="mdl-card__supporting-text">
                                    <form action="#">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input class="mdl-textfield__input" type="text" id="add_city-name">
                                            <label class="mdl-textfield__label">Name</label>
                                        </div>
                                    </form>
                                </div>

                                <button id="btn__add_city" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>


@section Scripts
{
    <script src="@Url.Content("~/js/pages/administrator.js")"></script>
    <script src="@Url.Content("~/js/pages/agents.js")"></script>
}